# Ignorar arquivos de configuração sensíveis
.env

# Ignorar cache do Python
__pycache__/
*.pyc

# Ignorar arquivos de logs
*.log

# Ignorar configs locais do VSCode e IDEs
.vscode/
.idea/

# Ignorar dados brutos temporários
datasets/
spark-apps
spark-config
conf

# Ignorar arquivos de configuração
# requirements.txt
docker-compose.yaml
Dockerfile
Dockerfile.airflow-worker





